.body {
    margin: 0;
}

.header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.header .center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger .line {
    margin: 4px 0;
    background-color: black;
    width: 34px;
    height: 5px;
    position: relative;
    cursor: pointer;
}

.sidebar {
    background-color: silver;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    overflow-x: hidden;
    height: 100%;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.openclose {
    left: 0;
}

.sidebar a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
    margin: 10px;
    border: 1px solid grey;
    width: 100px;
    text-align: center;
}

.openclose {
    left: 0;
}

.sidebar span.closesidebar {
    top: 10px;
    right: 10px;
    position: absolute;
    font-size: 45px;
    cursor: pointer;
    transition: 1s;
    display: inline-block;
}

.sidebar span.closesidebar:hover {
    color: grey;
    transition: 1s;
}